canvas {
  border: dashed 2px #333;
  width: 100%;
}
body {
  background: #1C9C75;
  color:white;
}
#title {
  letter-spacing: 3px;
  font-size: 40px;
  margin-bottom: 30px
}
.letter {
  font-size: 1.7em;
}
.letterButton {
  width: 35px;
  padding: 10px;
}
.scoreboard {
  border: 2px solid #444;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.hidden {
  display: none;
}
.correct {
  background-color: green;
}
.blink {
  background-color: black;
}
.zIndex {
  z-index: 2;
  position: fixed;
}
